@font-face {
  src: url(fonts/ProdigySans-Light.ttf);
  font-family: pro;
}


.swim {
  font-size: 60px;
  font-family: pro;
  text-align: center;
  position: relative;
  top: 20px;
  color: #422e19;
}

iframe {
  border: none;
  overflow: auto;

  width: 700px;
  height: 800px;

}

.vid{
  position: relative;
  top: 30px;
  left: 130px;
}

.web {
  position: relative;
  top: -773px;
  left: 870px;
}

.sun {
  width: 50px;
  top: 10px;
  position: fixed;
}

.click {
  font-size: 16px;
  font-family: pro;
  text-align: center;
  position: fixed;
  top: 40px;
  left: 60px;
  color: #422e19;
}
