body {
  background-color: #611515;
  font-family: sans-serif;
}

.dec {
text-align: center;
font-family: sans-serif;
font-size: 50px;

}

.y2022 {
  text-align: right;
  font-family: sans-serif;
  font-size: 50px;
  color: #0f2f12;
  opacity: 0.8;
  position: absolute;
  top: 60px;
  right: 630px;
}


.container {
  display: flex;

  /*flex-direction:  column;*/
  justify-content:  space-between;
  flex-wrap:  wrap;
  padding:10px;
  height:  100vh;
  background-color: #d4d2cd;
  /*min-height: 300px;*/
  font-family: sans-serif;
  color:  #0f2f12;
  font-size:  36px;
  text-align:  center;
}



/*this tells the browser to account for any border and padding in the values you specify for an element's width and height.*/

* {box-sizing:  border-box;}

.container {
  max-width: 1450px;
  margin: 20px auto;
  width: 700px;
}




.m1 {
background-color: #611515;
}

.m2 {
  background-color: #611515;
}

.m3 {
  background-color:  #611515;
}

.m4 {
  background-color:  #611515;
}

.m5 {
  background-color:  #611515;
}

.m6 {
  background-color:  #611515;
}

.m7 {
  background-color:  #611515;
}

.m8 {
  background-color:  #611515;
}
.m9 {
  background-color:  #611515;
}
.m10 {
  background-color:  #611515;
}
.m11{
  background-color:  #611515;
}
.m12{
  background-color:  #611515;
}
.m13{
  background-color:  #611515;
}
.m14{
  background-color:  #611515;
}
.m15{
  background-color:  #611515;
}
.m16{
  background-color:  #611515;
}
.m17{
  background-color:  #611515;
}
.m18{
  background-color:  #611515;
}
.m19{
  background-color:  #611515;
}
.m20{
  background-color:  #611515;
}
.m21{
  background-color:  #611515;
}
.m22{
  background-color:  #611515;
}


/*

.con {
  display: flex;
}

.m {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.holiday {
  flex: 50%;
}

.holiday-1 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-1 {
  opacity: 100%;
}

.holiday-2 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-2 {
  opacity: 100%;
}

.holiday-3 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-3 {
  opacity: 100%;
}

.holiday-4 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-4 {
  opacity: 100%;
}

.holiday-5 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-5 {
  opacity: 100%;
}

.holiday-6 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-6 {
  opacity: 100%;
}

.holiday-7 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-7 {
  opacity: 100%;
}

.holiday-8 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-8 {
  opacity: 100%;
}

.holiday-9 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-9 {
  opacity: 100%;
}

.holiday-10 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-10 {
  opacity: 100%;
}

.holiday-11 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-11 {
  opacity: 100%;
}

.holiday-12 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-12 {
  opacity: 100%;
}

.holiday-13 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-13 {
  opacity: 100%;
}

.holiday-14 {
  opacity: 0%;
  transition: ease all 1s;
}

.holiday:hover .holiday-14 {
  opacity: 100%;
}

.week:first-of-type .day:first-of-type {
  margin-left: 71.4%;
}

.week:last-of-type .day:last-of-type {
  margin-right: 0;
}

*/


/*
.week {
  height: 150px;
}

.day {
  color: chocolate;
  padding: 6px;
  background-color: transparentize(white, 0.30);
  box-shadow:
    2px 2px #F9A440,
    inset 2px 2px 0 0 #F9A440;
}
*/


@media (max-width:1024px){

  .dec {
    color: black;
    text-align: center;
    font-size: 72px;
    letter-spacing: 5px;
  }

  .y2022 {
    color: #0f2f12;
    text-align: center;
    font-size: 36px;
    transition: ease all 1s;
  }

  .container {
    text-align: center;
    vertical-align: center;
    font-size: 16px;
  }


}

@media (max-width:768px){


  .dec {
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
  }

  .y2022 {
    color: white;
    text-align: center;
    font-size: 20px;

  }

  .container {
    text-align: center;
    vertical-align: center;
    font-size: 14px;
  }



}
