body {
  background-color: #eeebe4;
}

p {
color: #6c4f31;
font-family: sans-serif;
text-align: center;
bottom: 800px;
font-size: 30px;
position: relative;
}

iframe {
  border: none;
  height: 800px;
  width:1200px;
  overflow: auto;
  position: relative;
  left: 300px;
  top: 90px;
}
