


body {
font-size: 16px;
background-color:  #b9c4e7;
}

h1 {
  font-size: 40px;
  place-items: center;
}

h2 {
  font-size: 30px;
  place-items: center;
}

.title {
text-align: center;

}

.container {
  max-width: 700px;
}

@media (max-width: 700px) {
  h1 {
  font-size: 20px;
}

  h2{
  font-size: 15px;
}

  body {
    background-color: #445280;
    color:  white;
  }

  img {
    max-width: 50%;
  }

}
